<h1>Botany Bay Privacy Policy</h1>

<h2>Privacy Policy of Botany Bay</h2>


<h3>Owner and Data Controller</h3>

The app owner is Tristan Leonard, a private developer working on a weekend to create an application for personal use.

<h3>Types of Data collected</h3>

This application collects your identity only to provide a distinction between you and other users. Your information is not used for marketing purposes. Analytics data is also recorded, but mostly as a means of exploring the concept of analytics.

<h2>Additional information about Data collection and processing</h2>

<h3>Legal action</h3>
The User's Personal Data won't be used for legal purposes by the Owner in Court or in the stages leading to possible legal action arising from improper use of this Application, which merely provides access to an airhorn.
<h3>Additional information about User's Personal Data</h3>
In addition to the information contained in this privacy policy, this Application may provide the User with additional and contextual information concerning particular Services or the collection and processing of Personal Data upon request.
<h3>System logs and maintenance</h3>
This Application logs information about the user's access in the form of analytics, error logging, and stores user-provided information for later retrieval. It does not store personally-identifiable information, other than the user's email address, and even then only to provide the user a customized view.
<h3>Information not contained in this policy</h3>
More details concerning the collection or processing of Personal Data may be requested from the Owner at any time. Please see the contact information at the beginning of this document.
<h3>How “Do Not Track” requests are handled</h3>
This Application does not support “Do Not Track” requests, but, again, does not track data, and uses no third party library that tracks data.
<h3>Changes to this privacy policy</h3>
The Owner reserves the right to make changes to this privacy policy at any time by giving notice to its Users on this page and possibly within this Application and/or - as far as technically and legally feasible - sending a notice to Users via any contact information available to the Owner. It is strongly recommended to check this page often, referring to the date of the last modification listed at the bottom. 

Should the changes affect processing activities performed on the basis of the User’s consent, the Owner shall collect new consent from the User, where required.
